// color
$bg: #373d41;
$bd: #e0e0e0;
$bg-gray: #f3f4f5;
$text-gray: #AAAAAA;
$text-blue: #2D8CF0;
$text-red: #ed3f14;
$text-green: #19be6b;
$bd-gray: #ddd;
$bg-dark: #2a2f32;
$bg-menu: #42485B;
$bg-blue: #00C1DE;
// shadow
$shadow: 0 1px 6px rgba(0, 0, 0, 0.2);

// 背景图片
@mixin icon($url) {
  background-image: url($url);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

// 多行文本溢出
@mixin clamp($n) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $n;
  overflow: hidden;
  text-overflow: ellipsis;
}

// flex布局和子元素对其方式
@mixin flex($horizontal: center, $vertical: center) {
  display: flex;
  justify-content: $horizontal;
  align-items: $vertical;
}
